<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="com.release3.console.ConsoleLogTracker"
            id="com.release3.console.consoleLineTracker1"
            processType="com.release3.console.consoleLineTracker1">
      </consoleLineTracker>
   </extension>

</plugin>
