<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2013 ObanSoft Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Jayansh Shinde
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.release3.plsql.analysis.ui.FormPropertiesView"
            id="com.release3.plsql.analysis.FormPropertiesView"
            name="FormPropertiesView"
            restorable="true">
      </view>
      <view
            class="com.release3.plsql.analysis.ui.JavaPropertiesView"
            id="com.release3.plsql.analysis.JavaPropertiesView"
            name="JavaPropertiesView"
            restorable="true">
      </view>
   </extension>

</plugin>
