package ${applicationName}.${formName}.control;

import		javax.faces.event.ActionEvent;	
public class ${formName}_NonCrud implements ${formName}_NonCrudIntfs{
	
#foreach ($mapEntry in $nonCrudMethodsMap.entrySet())
	
	   			public void ${mapEntry.key}{
    			/** 
				$mapEntry.value 
				*/
    			}
    
    			
#end
   }